@page "/about"

<h3>About</h3>
<div id="bodyContent">
    <div id="mw-content-text" class="mw-content-ltr">
        <table class="class table">
            <tbody>
                <tr style="vertical-align:top;">
                    <td>
                        <a class="image"><img alt="AboutJustin.png" src="img/AboutJustin.png" width="320" height="240"></a>
                    </td>
                    <td>
                        <b>Justin Steventon</b><br>Steventon Consulting<br>Justin is the primary developer working on CyberTracker currently. He works from Seattle, U.S.A<br><a  href="mailto:justin@steventon.com">justin@steventon.com</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
