@page "/community_applications"

<h4>Community Applications</h4>
<hr />
<p>
    Please send applications to justin@steventon.com if you'd like them to be added to this list.
</p>
<p>
    Note: These applications are not affiliated with CyberTracker.
</p>
<h5>Applications</h5>
<hr />
<!-- Card Start -->
<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <img src="http://cybertrackerwiki.org/img_auth.php/thumb/ForestMeasure.png/120px-ForestMeasure.png" />
        </div>

        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/ForestMeasure.zip">Download application and related materials</a>
                </h6>
                <p class="card-text">
                    Owner: Krista Bonfantine<br />
                    Minimum version: 3.490<br />
                    Short description: Forest measure.<br />
                </p>
            </div>
        </div>

    </div>
</div>
<!-- End of card -->
<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <img alt="Beaver trapping for eradication.png" src="http://cybertrackerwiki.org/img_auth.php/thumb/Beaver_trapping_for_eradication.png/120px-Beaver_trapping_for_eradication.png" />
        </div>
        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/Beaver_trapping_for_eradication.CTX">Download application</a>
                </h6>
                <p class="card-text">
                    Owner: Adrián Schiavini<br>
                    Minimum version: 3.460<br>
                    Short description: Beaver trapping.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <img alt="Observaciones Mamiferos Ibericos V2.png" src="http://cybertrackerwiki.org/img_auth.php/thumb/Observaciones_Mamiferos_Ibericos_V2.png/120px-Observaciones_Mamiferos_Ibericos_V2.png" />
        </div>
        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/Observaciones_Mamiferos_Ibericos_V2.CTX">Download application</a>
                </h6>
                <p class="card-text">
                    Owner: Hugo LeFranc<br>
                    Minimum version: 3.340<br>
                    Short description: Mammalian observations for Iberia V2.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <a href="/viewapplication?title=File:Transect_Demo.png">
                <img alt="Transect Demo.png" src="http://cybertrackerwiki.org/img_auth.php/thumb/Transect_Demo.png/120px-Transect_Demo.png" />
            </a>
        </div>
        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/Transect_Demo.CTX">Download application</a>
                </h6>
                <p class="card-text">
                    Owner: Justin Steventon<br>
                    Minimum version: 3.369<br>
                    Short description: A simple application to demonstrate the capturing of transect data. See the tutorial video for more information.
                </p>
            </div>
        </div>

    </div>
</div>