@page "/community_applications"

<h4>Community Applications</h4>
<hr />
<p>
    Please send applications to justin@steventon.com if you'd like them to be added to this list.
</p>
<p>
    Note: These applications are not affiliated with CyberTracker.
</p>
<h5>Applications</h5>
<hr />
<!-- Card Start -->
<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <img alt="Krista Bonfantine" src="img/Community_applications/120px-ForestMeasure.png" />
        </div>

        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/ForestMeasure.zip">Download application and related materials</a>
                </h6>
                <p class="card-text">
                    Owner: Krista Bonfantine<br />
                    Minimum version: 3.490<br />
                    Short description: Forest measure.<br />
                </p>
            </div>
        </div>

    </div>
</div>
<!-- End of card -->
<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <img alt="Adrián Schiavini" src="img/Community_applications/120px-Beaver_trapping_for_eradication.png" />
        </div>
        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/Beaver_trapping_for_eradication.CTX">Download application</a>
                </h6>
                <p class="card-text">
                    Owner: Adrián Schiavini<br>
                    Minimum version: 3.460<br>
                    Short description: Beaver trapping.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <img alt="Hugo LeFranc" src="img/Community_applications/120px-Observaciones_Mamiferos_Ibericos_V2.png" />
        </div>
        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/Observaciones_Mamiferos_Ibericos_V2.CTX">Download application</a>
                </h6>
                <p class="card-text">
                    Owner: Hugo LeFranc<br>
                    Minimum version: 3.340<br>
                    Short description: Mammalian observations for Iberia V2.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <a href="javascript:voide(0);">
                <img alt="Justin Steventon" src="img/Community_applications/120px-Transect_Demo.png" />
            </a>
        </div>
        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/Transect_Demo.CTX">Download application</a>
                </h6>
                <p class="card-text">
                    Owner: Justin Steventon<br>
                    Minimum version: 3.369<br>
                    Short description: A simple application to demonstrate the capturing of transect data. See the tutorial video for more information.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <a href="javascript:voide(0);">
                <img alt="Jon Young" src="img/Community_applications/120px-Master_Shikari.png" />
            </a>
        </div>
        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/Transect_Demo.CTX">Download application</a>
                </h6>
                <p class="card-text">
                    Owner: Jon Young<br>
                    Minimum version: 3.368<br>
                    Short description: This Application was developed in association with a group of trackers working in teams to gather ecological and wildlife data. Most elements within the application were field tested and found useful by the team and they were specific to the teams' needs. Feel free to modify, but credit the original authors at <a  class="external free" href="http://www.shirkari.org">http://www.shirkari.org</a>
                </p>
            </div>
        </div>

    </div>
</div>

<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <a href="javascript:voide(0);">
                <img alt="Holger Röhle" src="img/Community_applications/120px-BioKartierung-light_V3.0.1.png" />
            </a>
        </div>
        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/Transect_Demo.CTX">Download application</a>
                </h6>
                <p class="card-text">
                    Owner: Holger Röhle<br>
                    Minimum version: 3.386<br>
                    Biodiversity analysis in German language with animals and plants of Middle Europa, used on the "Day of biodiversity", which is held every year from the newspaper "GEO".
                </p>
                <ul style="margin: 0px 0px 0px -24px;">
                    <li>
                        Weather, animals (mammals, birds, insects, fishes, amphibian, reptiles)
                    </li>
                    <li>
                        Plants (trees, bushes, flowering plants)
                    </li>
                    <li>
                        Self definable user-list, own species as text
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <a href="javascript:voide(0);">
                <img alt="Holger Röhle" src="img/Community_applications/120px-Spurenanalyse-light_V3.0.2.png" />
            </a>
        </div>
        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/Transect_Demo.CTX">Download application</a>
                </h6>
                <p class="card-text">
                    Owner: Holger Röhle<br>
                    Minimum version: 3.386<br>
                    Short description: Animal Track analysis in German language with wild and domestic mammals of Middle Europe
                    Content:<br>
                </p>
                <ul style="margin: 0px 0px 0px -24px;">
                    <li>
                        Weather, footprints and gaits with measurement
                    </li>
                    <li>
                        Excrement, signs, sightings and activities
                    </li>
                    <li>
                        Population
                    </li>
                    <li>
                        Self definable user-list, own species as text
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <a href="javascript:voide(0);">
                <img alt="Matthias Hartmann" src="img/Community_applications/120px-Birds_of_Central_Europe.png" />
            </a>
        </div>
        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/Birds_of_Central_Europe.CTX">Download application</a>
                </h6>
                <p class="card-text">
                    Owner: Matthias Hartmann<br>
                    Minimum version: 3.381<br>
                    Short description: Birds of Central Europe
                </p>
            </div>
        </div>

    </div>
</div>

<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <a href="javascript:voide(0);">
                <img alt="Matthias Hartmann" src="img/Community_applications/120px-Birds_of_Laos.png" />
            </a>
        </div>
        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a  href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/Birds_of_Laos.CTX">Download application</a>
                </h6>
                <p class="card-text">
                    Owner: Matthias Hartmann<br>
                    Minimum version: 3.382<br>
                    Short description: Birds of Laos
                </p>
            </div>
        </div>

    </div>
</div>

<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <a href="javascript:voide(0);">
                <img alt="M. Bearzi and C. Saylan" src="img/Community_applications/120px-Seabird_Survey.png" />
            </a>
        </div>
        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a  href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/Seabird_Survey.CTX">Download application</a>
                </h6>
                <p class="card-text">
                    Owner: M. Bearzi and C. Saylan<br>
                    Minimum version: 3.368<br>
                    Short description: Simple survey application for seabirds. Demonstrates use of a notebook control to capture lots of content simultaneously.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <a href="javascript:voide(0);">
                <img alt="Louis Liebenberg" src="img/Community_applications/120px-Disaster_Relief_Rapid_Survey.png" />
            </a>
        </div>
        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a  href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/Disaster_Relief_Rapid_Survey.CTX">Download application</a>
                </h6>
                <p class="card-text">
                    Owner: Louis Liebenberg<br>
                    Minimum version: 3.368<br>
                    Short description: Disaster relief application.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-2">
    <div class="row">
        <div class="col-md-2 col-img">
            <a href="javascript:voide(0);">
                <img alt="Louis Liebenberg" src="img/Community_applications/120px-Market_Research_Smiley_Interface.png" />
            </a>
        </div>
        <div class="col-md-10">
            <div class="card-body px-6">
                <h6 class="card-title">
                    <a  href="https://cybertrackerwiki.blob.core.windows.net/cybertrackerwiki-ct-public/Market_Research_Smiley_Interface.CTX">Download application</a>
                </h6>
                <p class="card-text">
                    Owner: Louis Liebenberg<br>
                    Minimum version: 3.368<br>
                    Short description: Simple market research application.<br>
                    Icons made by Dave Gandy, Freepik from <a  href="http://www.flaticon.com">Flaticon</a> is licensed by <a  href="http://creativecommons.org/licenses/by/3.0/">Creative Commons 3.0</a>.
                </p>
            </div>
        </div>

    </div>
</div>