@page "/Devices"

<h3>Devices</h3>
<hr />

<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
    <div id="toc" class="toc">
        <div><strong>Contents</strong>  [<a href="javascript:void(0);" id="devicehideshow">hide</a>]</div>
        <br />
        <div id="divdevicecontent" class="border border-padding">
            <ul class="hide-bullets">
                <li class="toclevel-1 tocsection-1">
                    <a href="javascript:void(0);" class="device-content" id="device1"><span class="tocnumber">1</span> <span class="toctext">Field Testing of Mobile Devices for Use with SMART/Cybertracker</span></a>
                    @*<hr />*@
                    <ul style="list-style-type: none;">
                        <li class="toclevel-2 tocsection-2"><a href="javascript:void(0);" class="device-content" id="device2"><span class="tocnumber">1.1</span> <span class="toctext">Testing Conditions</span></a></li>
                        <li class="toclevel-2 tocsection-3"><a href="javascript:void(0);" class="device-content" id="device3"><span class="tocnumber">1.2</span> <span class="toctext">Devices tested</span></a></li>
                        <li class="toclevel-2 tocsection-4"><a href="javascript:void(0);" class="device-content" id="device4"><span class="tocnumber">1.3</span> <span class="toctext">Performance</span></a></li>
                        <li class="toclevel-2 tocsection-5"><a href="javascript:void(0);" class="device-content" id="device5"><span class="tocnumber">1.4</span> <span class="toctext">Reports</span></a></li>
                        <li class="toclevel-2 tocsection-6"><a href="javascript:void(0);" class="device-content" id="device6"><span class="tocnumber">1.5</span> <span class="toctext">General Notes</span></a></li>
                        <li class="toclevel-2 tocsection-7">
                            <a href="javascript:void(0);" class="device-content" id="device7"><span class="tocnumber">1.6</span> <span class="toctext">Summary</span></a>
                            <ul style="list-style-type: none;">
                                <li class="toclevel-3 tocsection-8"><a href="javascript:void(0);" class="device-content" id="device8"><span class="tocnumber">1.6.1</span> <span class="toctext">CAT B15</span></a></li>
                                <li class="toclevel-3 tocsection-9"><a href="javascript:void(0);" class="device-content" id="device9"><span class="tocnumber">1.6.2</span> <span class="toctext">Runbo X5</span></a></li>
                                <li class="toclevel-3 tocsection-10"><a href="javascript:void(0);" class="device-content" id="device10"><span class="tocnumber">1.6.3</span> <span class="toctext">Trimble Juno T41C</span></a></li>
                                <li class="toclevel-3 tocsection-11"><a href="javascript:void(0);" class="device-content" id="device11"><span class="tocnumber">1.6.4</span> <span class="toctext">Trimble Juno T41CG</span></a></li>
                                <li class="toclevel-3 tocsection-12"><a href="javascript:void(0);" class="device-content" id="device12"><span class="tocnumber">1.6.5</span> <span class="toctext">RugGear RG960/Land Rover Experience</span></a></li>
                                <li class="toclevel-3 tocsection-13"><a href="javascript:void(0);" class="device-content" id="device13"><span class="tocnumber">1.6.6</span> <span class="toctext">Pharos 585</span></a></li>
                                <li class="toclevel-3 tocsection-14"><a href="javascript:void(0);" class="device-content" id="device14"><span class="tocnumber">1.6.7</span> <span class="toctext">Nomad 900L</span></a></li>
                            </ul>
                        </li>
                        <li class="toclevel-2 tocsection-15"><a href="javascript:void(0);" class="device-content" id="device15"><span class="tocnumber">1.7</span> <span class="toctext">Recommendations</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <h4 id="divdevice1"><span class="mw-headline" id="Field_Testing_of_Mobile_Devices_for_Use_with_SMART.2FCybertracker">Field Testing of Mobile Devices for Use with SMART/Cybertracker</span></h4>
    <hr />
    <p>
        Richard A. Bergl, North Carolina Zoo
    </p>
    <p id="divdevice2"><strong class="mw-headline" id="Testing_Conditions">Testing Conditions</strong></p>
    <p>
        We conducted field testing of seven different mobile devices to assess their suitability for use in wildlife and conservation monitoring in a tropical forest environment.
    </p><p>
        Field Testing was conducted at the Mbe Mountains Community Reserve, in Cross River State, Nigeria.  Mbe is an area of high topographic relief, characterized by steep slopes and deep valleys.  The entire testing area consisted of dense tropical rain forest, though vegetation on steep slopes was occasionally lower and more herbaceous in nature.  Humidity at the site is high and annual rainfall is over 3,500mm.  Testing was conducted by Wildlife Conservation Society staff and Mbe Mountains community ecoguards, all of whom were already familiar with data collection using mobile devices.
    </p><p>
        Testing was carried out over four days, towards the end of the rainy season.  Devices were loaded with Cybertracker software running an application currently in use at Mbe for wildlife and law enforcement monitoring.  Each day the testing team traversed a different area using a combination of forest trails and off-trail navigation.  At the beginning of each day a start point was recorded at the basecamp area before field work began.  Subsequently, a position was recorded approximately every 20 minutes over the course of the day.  Devices were activated simultaneously and held within approximately 3m of each other.  Time to first fix, number of satellites at 2 minutes post activation, and dilution of precision at 2 minutes were recorded.  Each device was also set to record an automated “track log” point every 5 minutes.  Percentage of battery power remaining was recorded at the beginning and end of each day.
    </p><p>
        <a class="image"><img alt="SmartDeviceReport1.jpg" src="img/Devices/SmartDeviceReport1.jpg" width="774" height="514"></a>
    </p>
    <p id="divdevice3"><strong class="mw-headline" id="Devices_tested">Devices tested</strong></p>
    <table class="table-responsive table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>
                </th>
                <th>
                    CATB15
                </th>
                <th>
                    Runbo X5
                </th>
                <th>
                    Trimble Juno T41C
                </th>
                <th>
                    Trimble Juno T41CG
                </th>
                <th>
                    RugGEar RG960 / Land Rover Experience
                </th>
                <th>
                    Pharos 585
                </th>
                <th>
                    Trimble Nomad 900L
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Cost
                </td>
                <td>
                    500
                </td>
                <td>
                    450
                </td>
                <td>
                    1,500
                </td>
                <td>
                    2,600
                </td>
                <td>
                    750
                </td>
                <td>
                    650
                </td>
                <td>
                    1,600
                </td>
            </tr>
            <tr>
                <td>
                    Ruggedness rating
                </td>
                <td>
                    IP67
                </td>
                <td>
                    IP67
                </td>
                <td>
                    IP68 and MIL-STD-810G
                </td>
                <td>
                    IP68 and MIL-STD-810G
                </td>
                <td>
                    IP68 and MIL-STD-810G
                </td>
                <td>
                    IP65
                </td>
                <td>
                    IP68 and MIL-STD-810F
                </td>
            </tr>
            <tr>
                <td>
                    Screen size
                </td>
                <td>
                    4" WVGA
                </td>
                <td>
                    4.3" WVGA
                </td>
                <td>
                    4.3" WVGA
                </td>
                <td>
                    4.3" WVGA
                </td>
                <td>
                    4.3" WVGA
                </td>
                <td>
                    3.5" QVGA
                </td>
                <td>
                    3.5" VGA
                </td>
            </tr>
            <tr>
                <td>
                    Touchscreen type
                </td>
                <td>
                    Capacitive, gorilla glass
                </td>
                <td>
                    Capacitive, gorilla glass
                </td>
                <td>
                    Capacitive, gorilla glass
                </td>
                <td>
                    Capacitive, gorilla glass
                </td>
                <td>
                    Capacitive
                </td>
                <td>
                    Resistive
                </td>
                <td>
                    Resistive
                </td>
            </tr>
            <tr>
                <td>
                    Battery capacity
                </td>
                <td>
                    2,000mAh
                </td>
                <td>
                    3,800 mAh
                </td>
                <td>
                    3,300 mAh; 3,300mAh expansion pack available
                </td>
                <td>
                    3,300 mAh; 3,300mAh expansion pack available
                </td>
                <td>
                    3,000 mAh
                </td>
                <td>
                    3,000 mAh
                </td>
                <td>
                    5,200 mAh
                </td>
            </tr>
            <tr>
                <td>
                    CPU
                </td>
                <td>
                    1 GHz, dual core
                </td>
                <td>
                    1 GHz, dual core
                </td>
                <td>
                    800MHz
                </td>
                <td>
                    800MHz
                </td>
                <td>
                    1 GHz
                </td>
                <td>
                    522MHz
                </td>
                <td>
                    806MHz
                </td>
            </tr>
            <tr>
                <td>
                    Internal memory
                </td>
                <td>
                    4 GB
                </td>
                <td>
                    4 GB
                </td>
                <td>
                    8 GB
                </td>
                <td>
                    8 GB
                </td>
                <td>
                    4 GB
                </td>
                <td>
                    512 MB
                </td>
                <td>
                    2 GB
                </td>
            </tr>
            <tr>
                <td>
                    Mobile phone/data
                </td>
                <td>
                    Quad band GSM-3G
                </td>
                <td>
                    Quad band GSM-3G
                </td>
                <td>
                    Available
                </td>
                <td>
                    Available
                </td>
                <td>
                    Quad band GSM-3G
                </td>
                <td>
                    Quad band GSM-2.5G
                </td>
                <td>
                    Available
                </td>
            </tr>
            <tr>
                <td>
                    Operating system
                </td>
                <td>
                    Android 4.1
                </td>
                <td>
                    Android 4.0
                </td>
                <td>
                    Windows Embedded Handheld/Android available
                </td>
                <td>
                    Windows Embedded Handheld/Android available
                </td>
                <td>
                    Android 4.1
                </td>
                <td>
                    Windows Mobile 6.5
                </td>
                <td>
                    Windows Mobile 6.1
                </td>
            </tr>
            <tr>
                <td>
                    Camera
                </td>
                <td>
                    5MP
                </td>
                <td>
                    8MP
                </td>
                <td>
                    8MP
                </td>
                <td>
                    8MP
                </td>
                <td>
                    8MP
                </td>
                <td>
                    3MP
                </td>
                <td>
                    Available
                </td>
            </tr>
            <tr>
                <td>
                    Expansion slots
                </td>
                <td>
                    Micro SD
                </td>
                <td>
                    Micro SD
                </td>
                <td>
                    Micro SD; External GPS Antenna
                </td>
                <td>
                    Micro SD; External GPS Antenna
                </td>
                <td>
                    Micro SD
                </td>
                <td>
                    SD card
                </td>
                <td>
                    SD card, CF card
                </td>
            </tr>
        </tbody>
    </table>
    <p id="divdevice4"><strong id="Performance">Performance</strong></p>
    <table class="table table-bordered">

        <tbody>
        <thead class="thead-light">
            <tr>
                <th>
                </th>
                <th>
                    CATB15
                </th>
                <th>
                    Runbo X5
                </th>
                <th>
                    Trimble Juno T41C
                </th>
                <th>
                    Trimble Juno T41CG
                </th>
                <th>
                    RugGEar RG960 / Land Rover Experience
                </th>
                <th>
                    Pharos 585
                </th>
                <th>
                    Trimble Nomad 900L
                </th>
            </tr>
        </thead>

        <tr>
            <td>
                Average Time (secs) to First Fix, Cold Start
            </td>
            <td>
                93.5
            </td>
            <td>
                209.8
            </td>
            <td>
                81.0
            </td>
            <td>
                32.0
            </td>
            <td>
                216.3
            </td>
            <td>
                48.5
            </td>
            <td>
                101.8
            </td>
        </tr>
        <tr>
            <td>
                Average Time (secs) to First Fix, Warm Start
            </td>
            <td>
                42.6
            </td>
            <td>
                61.3
            </td>
            <td>
                18.9
            </td>
            <td>
                11.9
            </td>
            <td>
                77.0
            </td>
            <td>
                13.1
            </td>
            <td>
                15.3
            </td>
        </tr>
        <tr>
            <td>
                Receiving Data from Average of "x" Satelites at 2 mins
            </td>
            <td>
                5.7
            </td>
            <td>
                4.6
            </td>
            <td>
                6.3
            </td>
            <td>
                7.3
            </td>
            <td>
                3.6
            </td>
            <td>
                6.3
            </td>
            <td>
                6.2
            </td>
        </tr>
        <tr>
            <td>
                Average DOP at 2 mins
            </td>
            <td>
                5.0
            </td>
            <td>
                35.1
            </td>
            <td>
                3.9
            </td>
            <td>
                2.5
            </td>
            <td>
                48.3
            </td>
            <td>
                3.3
            </td>
            <td>
                1.9
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;% of Observation points where Position was Acquired
            </td>
            <td>
                96.3%
            </td>
            <td>
                94.4%
            </td>
            <td>
                96.3%
            </td>
            <td>
                98.1%
            </td>
            <td>
                74.1%
            </td>
            <td>
                100.0%
            </td>
            <td>
                100.0%
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;% of Tracklog Points where Position was Acquired
            </td>
            <td>
                39.9%
            </td>
            <td>
                80.1%
            </td>
            <td>
                76.4%
            </td>
            <td>
                97.0%
            </td>
            <td>
                39.9%
            </td>
            <td>
                99.6%
            </td>
            <td>
                99.3%
            </td>
        </tr>
        </tbody>
    </table>
    <p id="divdevice5"><strong id="Reports">Reports</strong></p>
    <p>
        <a class="image"><img alt="SmartDeviceReport2.png" src="img/Devices/SmartDeviceReport2.png" width="1035" height="500"></a>
    </p><p>
        <a class="image"><img alt="SmartDeviceReport3.png" src="img/Devices/SmartDeviceReport3.png" width="849" height="548"></a>
    </p><p>
        <a class="image"><img alt="SmartDeviceReport4.png" src="img/Devices/SmartDeviceReport4.png" width="820" height="549"></a>
    </p><p>
        <a class="image"><img alt="SmartDeviceReport5.png" src="img/Devices/SmartDeviceReport5.png" width="788" height="503"></a>
    </p><p>
        <a class="image"><img alt="SmartDeviceReports6.png" src="img/Devices/SmartDeviceReports6.png" width="817" height="518"></a>
    </p><p>
        <a class="image"><img alt="SmartDeviceReports7.png" src="img/Devices/SmartDeviceReports7.png" width="816" height="517"></a>
    </p><p>
        <a class="image"><img alt="SmartDeviceReports8.png" src="img/Devices/SmartDeviceReports8.png" width="769" height="484"></a>
    </p>
    <p id="divdevice6"><strong class="mw-headline" id="General_Notes">General Notes</strong></p>
    <p>
        It was noted that the “kiosk mode” of Cybertracker does not work with Android devices, apparently due to active blocking of this and similar features by Google.  Users desiring to lock devices to only run Cybertracker/SMART should use Windows-based devices or employ 3rd party Android apps to prevent devices running other programs.  Additionally, some Android devices report error to Cybertracker/SMART in a non-standard fashion.  While Cybertracker has since been modified to accommodate the type of error calculated, some of the long times to position acquisition for some Android devices may be related to this.
    </p>
    <p id="divdevice7"><strong class="mw-headline" id="Summary">Summary</strong></p>
    <hr />
    <div class="card mb-3" id="divdevice8">
        <div class="card-header">
            CAT B15
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="Device CAT B15.png" src="img/Devices/Device_CAT_B15.png" width="551" height="304" />
                    </div>
                    <div class="col-md-8">
                        <p>
                            <b>Advantages</b><br>
                        </p>
                        <ul>
                            <li>
                                Small and easily portable
                            </li>
                            <li>
                                GPS position acquisition generally good
                            </li>
                            <li>
                                Less expensive
                            </li>
                            <li>
                                Best Android smartphone tested
                            </li>
                        </ul>
                        <p>
                            <b>Disadvantages</b><br>
                        </p>
                        <ul>
                            <li>
                                Battery life poor compared to other devices
                            </li>
                            <li>
                                Some question as to waterproofness of battery cover
                            </li>
                            <li>
                                Poor track log performance, especially when battery was low
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card mb-3" id="divdevice9">
        <div class="card-header">
            Runbo X5
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="Device Runbo X5.png" src="img/Devices/Device_Runbo_X5.png" width="372" height="372" />
                    </div>
                    <div class="col-md-8">
                        <p>
                            <b>Advantages</b><br>
                        </p>
                        <ul>
                            <li>
                                Less expensive
                            </li>
                            <li>
                                Reasonable overall performance
                            </li>
                        </ul>
                        <p>
                            <b>Disadvantages</b><br>
                        </p>
                        <ul>
                            <li>
                                GPS slow to acquire and often receiving data from relatively few satellites
                            </li>
                            <li>
                                Processing speed appeared slow
                            </li>
                            <li>
                                Battery cannot be easily changed due to multiple screws securing cover
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card mb-3" id="divdevice10">
        <div class="card-header">
            Trimble Juno T41C
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="Device Trimble Juno T41C.png" src="img/Devices/Device_Trimble_Juno_T41C.png" width="147" height="278" />
                    </div>
                    <div class="col-md-8">
                        <p>
                            <b>Advantages</b><br>
                        </p>
                        <ul>
                            <li>
                                Large touchscreen easy to use
                            </li>
                            <li>
                                Large virtual keyboard easy to use
                            </li>
                            <li>
                                Battery non-removable: may be an advantage for waterproofness
                            </li>
                            <li>
                                External battery pack available, potentially doubling operating time
                            </li>
                            <li>
                                Wide array of accessories available
                            </li>
                        </ul>
                        <p>
                            <b>Disadvantages</b><br>
                        </p>
                        <ul>
                            <li>
                                Track log performance only average
                            </li>
                            <li>
                                Battery life on T41C less than T41CG-may be related to firmware update on T41CG
                            </li>
                            <li>
                                Relatively expensive compared to non-Trimble devices
                            </li>
                            <li>
                                Device as tested does not include GSM capability (available as an optional extra)
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="card mb-3" id="divdevice11">
        <div class="card-header">
            Trimble Juno T41CG
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="Device Trimble Juno T41CG.png" src="img/Devices/Device_Trimble_Juno_T41CG.png" width="166" height="350" />
                    </div>
                    <div class="col-md-8">
                        <p>
                            <b>Advantages</b><br>
                        </p>
                        <ul>
                            <li>
                                Large touchscreen easy to use
                            </li>
                            <li>
                                Large virtual keyboard easy to use
                            </li>
                            <li>
                                Excellent battery life
                            </li>
                            <li>
                                Excellent GP position acquisition
                            </li>
                            <li>
                                Battery non-removable: may be an advantage for waterproofness
                            </li>
                            <li>
                                External battery pack available, potentially doubling operating time
                            </li>
                            <li>
                                Wide array of accessories available
                            </li>
                        </ul>
                        <p>
                            <b>Disadvantages</b><br>
                        </p>
                        <ul>
                            <li>
                                Most expensive device
                            </li>
                            <li>
                                Device as tested does not include GSM capability (available as an optional extra)
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card mb-3" id="divdevice12">
        <div class="card-header">
            RugGear RG960/Land Rover Experience
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="Device RugGear RG960.png" src="img/Devices/Device_RugGear_RG960.png" width="399" height="399" />
                    </div>
                    <div class="col-md-8">
                        <p>
                            <b>Disadvantages</b>
                        </p>
                        <ul>
                            <li>
                                Poor GPS reception
                            </li>
                            <li>
                                Poor battery life
                            </li>
                            <li>
                                Not recommended
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card mb-3" id="divdevice13">
        <div class="card-header">
            Pharos 585
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="Device Pharos 585.png" src="img/Devices/Device_Pharos_585.png" width="174" height="330" />
                    </div>
                    <div class="col-md-8">
                        <p>
                            <b>Advantages</b><br>
                        </p>
                        <ul>
                            <li>
                                Excellent GPS acquisition (best of tested devices)
                            </li>
                            <li>
                                Excellent battery life
                            </li>
                            <li>
                                Small form factor
                            </li>
                            <li>
                                Less expensive
                            </li>
                            <li>
                                Best non-Trimble device tested
                            </li>
                        </ul>
                        <p>
                            <b>Disadvantages</b><br>
                        </p>
                        <ul>
                            <li>
                                Lower ruggedness rating than other devices
                            </li>
                            <li>
                                Small amount of built in memory
                            </li>
                            <li>
                                Small resistive touchscreen harder to use (especially with virtual keyboard) and prone to damage over time
                            </li>
                            <li>
                                No storage location for stylus
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card mb-3" id="divdevice14">
        <div class="card-header">
            Nomad 900L
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="Device Nomad 900L.png" src="img/Devices/Device_Nomad_900L.png" width="300" height="300" />
                    </div>
                    <div class="col-md-8">
                        <p>
                            <b>Advantages</b><br>
                        </p>
                        <ul>
                            <li>
                                Excellent GPS Acquisition
                            </li>
                            <li>
                                Excellent battery life
                            </li>
                            <li>
                                Wide array of accessories available
                            </li>
                        </ul>
                        <p>
                            <b>Disadvantages</b><br>
                        </p>
                        <ul>
                            <li>
                                Small resistive touchscreen harder to use (especially with virtual keyboard) and prone to damage over time
                            </li>
                            <li>
                                Relatively expensive compared to non-Trimble devices
                            </li>
                            <li>
                                Device as tested does not include GSM capability (available as an optional extra)
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card mb-3" id="divdevice14">
        <div class="card-header">
            Recommendations
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="Device Nomad 900L.png" src="img/Devices/Device_Nomad_900L.png" width="300" height="300" />
                    </div>
                    <div class="col-md-8">
                        <ul>
                            <li>
                                Overall best choice, based on all factors: Trimble T41C, due to a combination of ruggedness, screen type, GPS performance, price.  Note that tracklog performance was lower than some other devices however.
                            </li>
                            <li>
                                When higher GPS accuracy in a rugged device is preferred, and where cost is less of an issue: Trimble Juno T41CG
                            </li>
                            <li>
                                When a less expensive device is preferred and where ruggedness/waterproofness is less important: Pharos 585
                            </li>
                            <li>
                                When and Android-based smartphone is preferred: CAT B15 or Runbo X5.  Note that CAT B15 track log performance was poor and Runbo X5 had long times to position acquisition.
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

@code {
    [Inject]
    protected IJSRuntime JsRuntime { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            JsRuntime.InvokeVoidAsync("onBlazorReady");
    }
}
