@page "/Documentation"

<h3>Documentation</h3>
<hr />
<p>
    Click to access the <a href="files/Ctcontrolsref.pdf" target="_blank" title="Ctcontrolsref.pdf">Controls reference manual</a>.
</p>
<p>
    This manual provides technical documentation for the many CyberTracker controls that can be used as part of data capture.
</p>
<p>
    <img alt="Ctcontrolmanual1.png" src="img/Ctcontrolmanual1.png" width="517" height="692" />
</p>



