@page "/download"

<h4>Download</h4>
<hr />
<p>
    Click the links below to download the latest release of CyberTracker:
</p>
<p>
    <a href="https://cybertrackerwiki.blob.core.windows.net/ctbuilds/ct3515u.msi">Download latest release (recommended): 3.515 ~ 15MB</a>
</p>
<p>
    <a href="https://cybertrackerwiki.blob.core.windows.net/ctbuilds/ct3515.msi">Download latest release (admin install): 3.515 ~ 15MB</a>
</p>

<h5>
    How do I install CyberTracker?
</h5>
<hr />
<ol>
    <li>
        Click on the link above to download
    </li>
    <li>
        The browser will download the file to your local machine
    </li>
    <li>
        Double click to install
    </li>
</ol>

<h5>
    Do I need to uninstall previous versions?
</h5>
<hr />
<p>
    No, CyberTracker automatically upgrades previous versions.
    <br />All settings and data are preserved.
</p>

<h5>
    Why are there two versions?
</h5>
<hr />
<p>
    Windows applications can be installed in two different ways: for a single user or for all users.
</p>
<p>
    A single-user install means that CyberTracker will only be available for the user who installed it. This is the recommended install type.
</p>
<p>
    An all-user/admin install means that all users on the machine use a single installed version. In order to use this version, you must have administrator rights on your system.
</p>