@page "/feature_commissions"

<h3>Feature Commissions</h3>
<hr />

<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
    <p>
        The CyberTracker application grows and is improved through donor grants and feature commissions.
    </p><p>
        To commission a feature, send mail to justin@steventon.com.
    </p><p>
        To become a donor, send mail to louis@cybertracker.org.
    </p>
    <p><strong class="mw-headline" id="Donors">Donors</strong></p>
    <ul>
        <li>
            The European Union ECOFAC program for funding the development of version 3 (the current version).
        </li>
        <li>
            The <a rel="nofollow" class="external text" href="http://jrsbiodiversity.org">JRS Biodiversity Foundation</a> funded the upgrade of the CyberTracker software for Android Smartphones and Tablets.
        </li>
    </ul>
    <p><strong class="mw-headline" id="Feature_commissions_.28in_no_particular_order.29">Feature commissions (in no particular order)</strong></p>
    <ul>
        <li>
            Rich Guenzel
        </li>
        <li>
            Mitch Lockwood
        </li>
        <li>
            Steven DeRoy, Bruce Maclean &amp; Amanda Karst at CIER
        </li>
        <li>
            David Stainbrook at Pennsylvania Cooperative Fish &amp; Wildlife Research Unit
        </li>
        <li>
            Richard A. Bergl, North Carolina Zoological Park
        </li>
        <li>
            H. Lefranc, R. Nuñez, G. Sanchez G., R. C. Soriguer (<a rel="nofollow" class="external free" href="http://icts.ebd.csic.es">http://icts.ebd.csic.es</a>)
        </li>
        <li>
            Shaun Ansell, Djelk Rangers, Bawinanga Aboriginal Corporation
        </li>
        <li>
            Rod Kennett, Micha Jackson, Erica Mccreedy, North Australian Indigenous Land and Sea Management Alliance
        </li>
        <li>
            Joe Benshemesh, Victorian Malleefowl Recovery Group and Anangu Pitjantjatjara Yankunytjatjara Land Management
        </li>
        <li>
            Shawn Gray
        </li>
        <li>
            Matthew Schnupp &amp; CKWRI, Kingsville, TX
        </li>
        <li>
            Jorge Luis Torres L., Victor Rincón R. - Centro de Investigación en Palma de Aceite - Cenipalma, Colombia
        </li>
    </ul>

</div>

