@page "/"

<h4>Main Page</h4>
<hr />
<h5>
    What is CyberTracker?
</h5>
<hr />
<p>
    <a href="https://cybertracker.org/" target="_blank">CyberTracker</a> is a non-profit organization which created a software application as part of a larger vision. CyberTracker is also a software application for mobile data capture and visualization.
</p>
<p>
    It is used widely in conservation, because of it's <a href="https://cybertracker.org/background/awards">award winning</a> Icon User Interface, but has also been successfully customized for a variety of other fields.
</p>
<p>
    From its origins with indigenous Kalahari trackers, CyberTracker projects have been initiated to protect rhinos in Africa, to monitor gorillas in the Congo, snow leopards in the Himalayas, butterflies in Switzerland, jaguars in Costa Rica, birds in the Amazon, wild horses in Mongolia, dolphins in California, marine turtles in the Pacific and whales in Antarctica.
</p>
<p>
    CyberTracker is being used worldwide by indigenous communities, in national parks, scientific research, citizen science, environmental education, forestry, farming, social surveys, crime prevention and disaster relief.
</p>
<p>
    Climate change, pollution, habitat destruction and loss of biodiversity may have serious impacts on human welfare. To prevent this will require ongoing long-term monitoring of all aspects of the environment. Our vision is to promote the development of a Worldwide Environmental Monitoring Network.
</p>

<h5>
    What does CyberTracker need in order to run?
</h5>
<hr />
<p>
    The desktop application runs on all versions of Microsoft Windows.
</p>
<p>
    Data can be captured directly using the desktop software or an <a href="http://www.bing.com/images/search?q=android+phone">Android</a> or <a href="http://www.bing.com/images/search?q=rugged+windows+mobile">Windows Mobile</a> device. Note that iPhone (iOS) and <a href="http://www.bing.com/images/search?q=windows+phone">Windows Phone</a> are not supported, but this will change in upcoming releases.
</p>
<h5>
    How much does CyberTracker cost?
</h5>
<hr />
<p>
    CyberTracker is freeware and is supported through donors and community funded features.
</p>
<h5>
    How can I get technical support?
</h5>
<hr />
<p>
    CyberTracker is supported by a <a href="https://groups.google.com/g/cybertrackerwiki/">Google group</a>. The group is monitored by the CyberTracker team and has many knowledgeable folks asking and answering questions.
</p>

<h5>
    How can I get technical support?
</h5>
<hr />
<p>
    CyberTracker is supported by a <a href="https://groups.google.com/g/cybertrackerwiki/">Google group</a>. The group is monitored by the CyberTracker team and has many knowledgeable folks asking and answering questions.
</p>
<p>
    The group has been around for many years, so try searching the archives to get a sense for the kinds of questions people ask.
</p>