@page "/new_features"

<h4>New Features</h4>
<hr />
<p>
    <strong>Web Update</strong><br />
</p>
<p>
    Web Update shows how to remotely update CyberTracker applications. This feature only works on Android.
</p>
<video class="custom-video" controls="" preload="" height="40%" width="60%">
    <source src="https://cybertrackerwiki.blob.core.windows.net/videos/WebUpdateFull.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br />
<br />
<p>
    <strong>Remove Looped Attributes</strong><br />
    <hr />
</p>
<p>
    This allows local use of looping in an application.
</p>
<video class="custom-video" controls="" preload="" height="40%" width="60%">
    <source src="https://cybertrackerwiki.blob.core.windows.net/videos/RemoveLoopedAttributesFull.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

