@page "/tutorial_videos"

<h3>Tutorial Videos</h3>
<hr />

<div id="mw-content-text" class="mw-content-ltr">
    <p>
        We're building out tutorial videos for CyberTracker. If you have some to share, please send them to justin@steventon.com.
    </p>
    <div id="toc" class="toc">
        <div><strong>Contents</strong>  [<a href="javascript:void(0);" id="divtutorialvideoshideshow">hide</a>]</div>
        <br />
        <div id="divTutorialVideos" class="border border-padding">
            <ul class="hide-bullets">
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos1"><span class="tocnumber">1</span> <span class="toctext">Using line transects</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos2"><span class="tocnumber">2</span> <span class="toctext">Creating and Editing Element List Filters</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos3"><span class="tocnumber">3</span> <span class="toctext">Customizing Element Lists</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos4"><span class="tocnumber">4</span> <span class="toctext">Advanced Map Features</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos5"><span class="tocnumber">5</span> <span class="toctext">Graphing Trends in Data</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos6"><span class="tocnumber">6</span> <span class="toctext">User Customized Lists</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos7"><span class="tocnumber">7</span> <span class="toctext">Restricted Application Editing Using a Password</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos8"><span class="tocnumber">8</span> <span class="toctext">Goto Lists</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos9"><span class="tocnumber">9</span> <span class="toctext">Goto Using Elements</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos10"><span class="tocnumber">10</span> <span class="toctext">History in the Field</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos11"><span class="tocnumber">11</span> <span class="toctext">User Lists</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos12"><span class="tocnumber">12</span> <span class="toctext">Basic Application Editing</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos13"><span class="tocnumber">13</span> <span class="toctext">Date Control</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos14"><span class="tocnumber">14</span> <span class="toctext">Web Transfer</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos15"><span class="tocnumber">15</span> <span class="toctext">ESRI Connect</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos16"><span class="tocnumber">16</span> <span class="toctext">Remove Looped Attributes</span></a></li>
                <li><a href="javascript:void(0);" class="tutorial-videos" id="tutorialvideos17"><span class="tocnumber">17</span> <span class="toctext">Web Update</span></a></li>
            </ul>
        </div>
    </div>

    <br />

    <div class="card mb-3" id="divtutorialvideos1">
        <div class="card-header">
            Using line transects
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            CyberTracker contains a simple transect system that allows processing of sightings into data that can be processed by applications like Distance. Check out how it works.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/Transects.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos2">
        <div class="card-header">
            Creating and Editing Element List Filters
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            The Element List control can have its contents filtered. Check out how it works.*
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/Element_List_Filters.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos3">
        <div class="card-header">
            Customizing Element Lists
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            The Element List control is the most flexible control in CyberTracker. Check out this demo of various properties that can be customized. Note there is additional documentation
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/Element_List_Properties.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos4">
        <div class="card-header">
            Advanced Map Features
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            CyberTracker has avoided adding many GIS related features, because it focuses primarily on being a data-conduit. However, it does have several useful mapping features.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/GIS_Features.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos5">
        <div class="card-header">
            Graphing Trends in Data
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Trend graphs are a way to see simple trends in data over time.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/Trend_Graph.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos6">
        <div class="card-header">
            User Customized Lists
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            A User list is a list that can be customized without affecting the database in any way. This is typically used when sending a CyberTracker database to another group that may need to add their own users.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/User_Lists.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos7">
        <div class="card-header">
            Restricted Application Editing Using a Password
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Editing of Applications can be restricted to prevent loss of data integrity.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/Basic_Application_Editing.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos8">
        <div class="card-header">
            Goto Lists
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Goto lists allow specification of a number of target locations. These can be selected and CyberTracker will navigate users to them.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/Goto_List.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos9">
        <div class="card-header">
            Goto Using Elements
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Goto points can also be specified by using Elements. This means that users can be guided to well known locations by navigating an application, rather than finding a single point in a potentially long list.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/Goto_List_2.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos10">
        <div class="card-header">
            History in the Field
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            This video shows the feature of having previously recorded sightings appear on the device.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/History.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos11">
        <div class="card-header">
            User Lists
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            This video shows how to use a User List. This is a special type of list which you can customize without changing the database. It is especially useful for names of users, which are likely to change a lot.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/User_Lists.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos12">
        <div class="card-header">
            Basic Application Editing
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <i>Basic Editing</i> is a new feature whereby users can be restricted to editing a limited set of properties in an application.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/Basic_Application_Editing.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos13">
        <div class="card-header">
            Date Control
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            A Date Control allows you to specify a date.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/Date_Control.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos14">
        <div class="card-header">
            Web Transfer
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <i>Web Transfer</i> is a feature to send data from the CyberTracker client over HTTP/HTTPS as JSON.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/HttpTransfer.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos15">
        <div class="card-header">
            ESRI Connect
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <i>ESRI Connect</i> is a for automatically sending data to ArcGIS Online from the field.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/Esri_Connect.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos16">
        <div class="card-header">
            Remove Looped Attributes
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <i>Remove Looped Attributes</i> allows local use of loops in an application.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/RemoveLoopedAttributesFull.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="divtutorialvideos17">
        <div class="card-header">
            Web Update
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <i>Web Update</i> allows install and update of applications via the web.
                        </p>
                        <br />
                        <video controls="" preload="" height="480" width="640">
                            <source src="https://cybertrackerwiki.blob.core.windows.net/videos/WebUpdateFull.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Inject]
    protected IJSRuntime JsRuntime { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            JsRuntime.InvokeVoidAsync("onBlazorReady");
    }
}
