@page "/wish_list"
<h3>Wish List</h3>
<hr />

<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
    <h4><span class="mw-headline" id="To_get_a_feature_added_to_CyberTracker.2C_your_options_are:">To get a feature added to CyberTracker, your options are:</span></h4>
    <hr />
    <ul>
        <li>
            Request a feature by sending mail to  justin@steventon.com - he will add it to the wish list below.
        </li>
        <li>
            Commision (pay for yourself) for the feature to be built. Once developed, the feature will be available to everyone who downloads CyberTracker.
        </li>
    </ul>
    <h4><span class="mw-headline" id="Open_feature_requests_.28in_no_particular_order.29:">Open feature requests (in no particular order):</span></h4>
    <hr />
    <ol>
        <li>
            Speed should optionally be part of sighting GPS attributes
        </li>
        <li>
            Export to GDB and GDX (GPS waypoint data files)
        </li>
        <li>
            Smartphone (no touch screen) support
        </li>
        <li>
            Hold down on Element list displays hint
        </li>
        <li>
            Feature to delete all the sightings from a database
        </li>
        <li>
            Ability to individually inspect and edit track timer readings
        </li>
        <li>
            Direct text entry screen, similar to digit screen, but with text
        </li>
        <li>
            Shape file rendering on map: class breaks renderer
        </li>
        <li>
            Identify shape file feature
        </li>
        <li>
            Use of physical buttons for specific commands, e.g. track control or movement within a sequence
        </li>
        <li>
            Export to DXF
        </li>
        <li>
            Specify row-wise or column-wise order for Elements in a multi-column list.
        </li>
        <li>
            Automatically convert font symbols to icons.
        </li>
        <li>
            Element Formula support for math functions like SQRT, SIN, COS, etc
        </li>
        <li>
            Global value support for strings
        </li>
        <li>
            Client control for input of time
        </li>
        <li>
            Result Element support on check lists
        </li>
        <li>
            Calendar control on client
        </li>
        <li>
            iPhone version of the client
        </li>
        <li>
            Zoom to active map sighting
        </li>
        <li>
            Support for the creation of polygons
        </li>
        <li>
            Timer control to do countdowns
        </li>
        <li>
            Export of ESRI Projection file (.PRJ) alongside SHP files
        </li>
        <li>
            Multiple field maps on the PDA
        </li>
        <li>
            Export filters back to Excel
        </li>
        <li>
            Re-synchronize all Applications at once
        </li>
        <li>
            Output Heading and Speed with other GPS attributes
        </li>
        <li>
            Export images from SHP file export
        </li>
        <li>
            Create columns for all fields in sighting at once
        </li>
        <li>
            Degrees/Minutes/Seconds display on desktop
        </li>
        <li>
            Ability to change units on field devices, e.g. miles, namiles, etc.
        </li>
        <li>
            Alternate colors on Element List lines
        </li>
        <li>
            Export multiple queries at once into a single Excel spreadsheet
        </li>
        <li>
            Post processing of GPS to differential quality
        </li>
        <li>
            Change color on field map based on property of Element
        </li>
        <li>
            Support for far east languages
        </li>
        <li>
            Upload to DropBox from Android devices
        </li>
        <li>
            Google Play version of CyberTracker
        </li>
        <li>
            Status page on the client which shows details about uploads, number of sightings, etc.
        </li>
        <li>
            Ability to change English text like "tap to edit" and "tap to capture"
        </li>
        <li>
            Multi-select User lists
        </li>
        <li>
            Ability to select target folder for images when exporting a table
        </li>
        <li>
            Cyrillic alphabet support
        </li>
    </ol>
    <h4><span class="mw-headline" id="Completed_features">Completed features</span></h4>
    <hr />
    <ul>
        <li>
            Support for Google Earth
        </li>
        <li>
            Send data button in Report mode (send via email)
        </li>
        <li>
            Labels on maps
        </li>
        <li>
            Select from non-active query on map
        </li>
        <li>
            Ability to specify which Element field is displayed in the query table (instead of just name, value or tag)
        </li>
        <li>
            Ability to Paste filters from Excel
        </li>
        <li>
            Negative numbers on digit screens
        </li>
        <li>
            Export track timer readings and sightings to single table
        </li>
        <li>
            Ability to customize which track timer intervals appear on timer screen
        </li>
        <li>
            Active query order should be saved along with report
        </li>
        <li>
            Automatically convert Virtual Earth maps for use on the PDA.
        </li>
        <li>
            Graph view which allows visualization of simple trends
        </li>
        <li>
            Parts of sequences can be password protected
        </li>
        <li>
            PDA can be locked so that only CyberTracker can be run
        </li>
        <li>
            Simulate GPS for application testing
        </li>
        <li>
            PC version of the client
        </li>
        <li>
            Android version of the client
        </li>
        <li>
            Decimal degrees option for GPS screens on Client
        </li>
        <li>
            Number screen should allow increments other than 1, e.g. 5
        </li>
        <li>
            Maps should export with Scale, compass rose
        </li>
        <li>
            Make photo optionally required
        </li>
        <li>
            Export to Darwin Core
        </li>
        <li>
            Filters should not be cleared when adding a new column
        </li>
        <li>
            Block next on check list, number list if no numbers have been entered
        </li>
        <li>
            Android should support Bluetooth GPS
        </li>
        <li>
            Map View should open centered around sightings in query
        </li>
        <li>
            Client control for input of date
        </li>
        <li>
            Support for PostgreSQL
        </li>
        <li>
            Edit sightings should work with regular Navigator Save control, not just Navigator
        </li>
    </ul>
</div>

