.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 9.5rem;
    background-color: #f6f6f6;
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 1.3rem;
    font-size: 0.7rem;
    vertical-align: text-top;
    top: -1px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #0645ad;
        border-radius: 4px;
        height: 2.4rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: #c3c0c0;
    color: white;
}

.nav-item ::deep a:hover {
    background-color: #c3c0c0;
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
