<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="" style="margin-left: 2rem;">
        <img alt="Wiki" src="logo.png" style="width:125px" />
    </a >
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Main page
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="download">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Download CyberTracker
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tutorial_videos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tutorial Videos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="community_applications">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Community Applications
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="new_features">
                <span class="oi oi-list-rich" aria-hidden="true"></span> New Features
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="documentation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Documentation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="faq">
                <span class="oi oi-list-rich" aria-hidden="true"></span> FAQ
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="devices">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Devices
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="advanced_topics">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Advanced Topics
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="change_history">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Change History
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wish_list">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wish List
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="older_versions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Older Versions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="feature_commissions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Feature Commissions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-list-rich" aria-hidden="true"></span> About
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
